venv/**
.env
dataset/ddxplus
dataset/mimic3
dataset/HealthCareMagic-100k.json
dataset/clinicallab
dataset/medqa
medical-reports
**/__pycache__
results/** 
diagnosis-assistant/**
results-**
dataset-cleaning/unused-dataset/**